import(methods)
import(BiocGenerics)
import(Biobase)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)
importFrom("GenomeInfoDb", keepSeqlevels)
importFrom("MCMCpack", ddirichlet, rdirichlet)
importFrom("parallel", mclapply)
importFrom("Rsamtools", scanBamHeader, ScanBamParam, countBam, scanBamFlag, scanBam, bamFlagTest)
importFrom("graphics", "hist", "lines", "par", "plot", "points")
importFrom("stats", "dexp", "dgamma", "dnorm", "rbeta", "rgamma", "rnorm", "runif")

importClassesFrom(beadarray, ExpressionSetIllumina)

exportClasses(
    ChIPseqSet,
    MixModel,
    MixModelBayes,
    MixModelML,
    MixtureComponent
)

exportMethods(
    # methods-MixModel.R
    as.data.frame,
    dim,
    length,
    normalize,
    show,
    summary
)

export(
    # methods-ChIPseqSet.R
    chipVals, "chipVals<-",
    cpm,
    ChIPseqSet,

    # methods-MixModel.R
    acceptanceRate,
    chains,
    classification,
    components,
    convergence,
    mmData,
    listClassificationMethods,
    weights,

    # other methods from AllGenerics.R
    bayesMixModel,
    calculateCrossCorrelation,
    getAlignmentQuality,
    integrateData,
    matchProbeToPromoter,
    mlMixModel,
    normalizeChIP,
    plotChains,
    plotClassification,
    plotComponents,
    summarizeReads
)
