import(methods)
import(BiocGenerics)
import(Biobase)
import(IRanges)
import(GenomicRanges)
importFrom("Rsamtools", scanBamHeader, ScanBamParam, countBam, scanBamFlag, scanBam, bamFlagTest)

importClassesFrom(beadarray, ExpressionSetIllumina)

exportClasses(
    ChIPseqSet,
    MixModel,
    MixModelBayes,
    MixModelML,
    MixtureComponent
)

exportMethods(
    # methods-MixModel.R
    dim,
    length,
    show,
    summary
)

export(
    # methods-ChIPseqSet.R
    chipVals, "chipVals<-",
    ChIPseqSet,

    # methods-MixModel.R
    chains,
    classification,
    components,
    convergence,
    mmData,
    listClassificationMethods,
    weights,

    # other methods from AllGenerics.R
    bayesMixModel,
    calculateCrossCorrelation,
    getAlignmentQuality,
    integrateData,
    matchProbeToPromoter,
    mlMixModel,
    normalizeChIP,
    plotChains,
    plotClassification,
    plotComponents,
    summarizeReads
)
